@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #36393e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  padding-top: 10rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 10px 18px;
  border-radius: 8px;
  color: #ff8c00;
  font-weight: 600;
  font-size: 0.95rem;
  border: 1px solid #333;
  transition: 0.25s ease;
}

.btn:hover {
  background: #ff8c00;
  color: #111;
  border-color: #ff8c00;
  transform: translateX(-3px);
}