.charCard {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    height: auto;
    width: 11rem;
}

.charCard:hover img {
    transform: scale(1.3);
}

.charCard div {
    background: linear-gradient(120deg, #ff7a00, #ff9a2b);
    border-radius: 100px;
    transform: translateY(-18px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid white;
}


.charCard img {
    filter: drop-shadow(20px 20px 5px rgba(0, 0, 0, 0.411));
    width: auto;
    height: 20rem;
    transform: scale(1.2);

}

.charCard p {
    padding: 6px 10px;
    border-radius: 8px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.411);
    z-index: 10;
    position: relative;
    height: 100px;
}

@media (max-width: 600px) {
    .charCard div {
        width: 11rem;
    }
}