.charCard {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    height: auto;
}

.charCard:hover>div {
    transform: scale(1.1);
}

.charCard>div {
    background-image: url('/imgs/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.charCard div div {
    width: 14rem;
    height: 22rem;
    display: flex;
    border-radius: 30px;
    align-items: flex-end;
    background-size: 30rem;
    background-position: top;
}

.charCard p {
    border-radius: 30px;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    -webkit-text-stroke: 0.6px black;
    text-transform: uppercase;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.411);
    z-index: 10;
    position: relative;
    height: 100px;
    color: white;
    width: 100%;
    background: linear-gradient(to top, black, transparent);
}