.nav {
    background: linear-gradient(90deg, #ff7a00, #ff9a2b);
    padding: 12px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.container {
    display: none;
}

.menuList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menuList li {
    position: relative;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 1.05rem;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
    transition: all 0.5s ease;
    transition: 0.3s ease;
}

.menuList li:hover {
    text-align: center;
    background: #000;
    width: 150px;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.menuList li img {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    width: 150px;
    height: 150px;
    object-fit: cover;

    padding: 8px;

    background: black;
    border-radius: 10px;
    border: 2px solid #00000055;
    transition: opacity 0.25s ease,
        transform 0.25s ease;
    opacity: 0;

    z-index: 999;
    pointer-events: none;
}

.menuList li:hover img {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .nav {
        justify-content: space-between;
    }

    .container {
        display: block;
    }

    /* ÍCONE HAMBURGUER */
    .check {
        display: none;
    }

    .hamburger_label {
        width: 38px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        padding: 4px;
        position: relative;
    }

    .line {
        height: 4px;
        background: #000;
        border-radius: 4px;
        transition: 0.3s;
    }

    .menuList li:hover {
        width: auto;
    }

    .menuList li:hover img {
        display: none;
    }

    .check:checked+.hamburger_label .line:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
        background: black;
    }

    .check:checked+.hamburger_label .line:nth-child(2) {
        opacity: 0;
    }

    .check:checked+.hamburger_label .line:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
        background: black;
    }

    .menuList {
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
    }

    .check:checked~.menuList {
        display: flex;
    }
}