.charGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.btn {
    margin-bottom: 100px;
}

@media (max-width: 600px) {
    .charGrid {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
}