.charGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.btn {
    margin-bottom: 100px;
}

@media (max-width: 600px) {
    .charGrid {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: auto;
        align-items: center;
        height: 35rem;
    }
}